.trigger_wrap {
    display: flex;
    justify-content: flex-end;
}

.trigger, .current_trigger {
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    
}

.current_trigger {
    background-color: #F6F6F9;
    font-weight: 700;
    border-radius: 100px;
}