.lang {
  margin-left: 20px;
  cursor: pointer;

  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}


@media only screen and (max-width: 767.99px) {
  .lang {

    display: none;
  }
}

@media only screen and (max-width: 1110px) {
  .lang {
    position: static;
  }
}
