@import '../../common/global.less';
.head {
  background-color: #f6f6f9;
  height: 100px;
}

.head_inner {
  width: 100%;
  max-width: @page_width;
  margin: 0 auto;
  padding: 25px 0;
}

.head_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 55px;
}

.main {
  background-color: #000;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  height: 350px;

  .logo {
    display: none;
  }

  .main_title {
    font-size: 50px;
    font-weight: 700;
  }

  .main_desc {
    font-size: 38px;
    font-weight: 500;
    margin-top: 10px;
  }

  .btns {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .btn {
      width: 160px;
      height: 50px;
      font-size: 18px;
      font-weight: 700;
      border-radius: 8px;
    }
  }
}

.content {
  width: 100%;
  max-width: @page_width;
  margin: 0 auto;
}

.abstract {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.abs_item {
  width: 225px;
  height: 95px;
  text-align: center;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 20px 0;

  .label {
    font-size: 16px;
  }

  .value {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
  }
}

.title,
.title_web {
  margin-top: 40px;
  font-size: 32px;
  font-weight: 700;
}

.title_h5 {
  margin: 20px;
  font-size: 28px;
  font-weight: 700;
  display: none;
}

.list {
  margin-top: 40px;
}

.col_1 {
  width: 460px;
}

.col_2 {
  width: 180px;
}

.col_3 {
  width: 140px;
}

.list_hd {
  background-color: #f6f6f9;
  height: 60px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
  display: flex;
  border-radius: 8px;
  align-items: center;
}

.list_item {
  border-bottom: 1px solid #e8e8e8;
  padding: 25px 30px;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  align-items: center;

  .col_1 {
    padding-right: 60px;
  }
}


.red {
  color: #EB5757;
  font-size: 24px;

  :global(.iconfont) {
    color: #EB5757;
    font-size: 24px;
  }
}

.green {
  color: #229278;
  font-size: 24px;

  :global(.iconfont) {
    color: #229278;
    font-size: 24px;
  }
}


@media only screen and (max-width: 767.99px) {
  .head {
    height: 60px;
  }

  .head_inner {
    padding: 10px;
    width: auto;
  }

  .head_right {
    height: 40px;
  }

  .content {
    .list {
      width: @page_width;
      overflow-x: auto;
    }
  }

  .main {
    .logo {
      display: block;
    }

    .main_title {
      font-size: 34px;
      font-weight: 700;
    }

    .main_desc {
      font-size: 18px;
    }
  }

  .title_h5 {
    display: block;
  }

  .title_web {
    display: none;
  }

}
