
.container {
    text-align: center;
    position: relative;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    height: 580px;
    :global(.ant-spin-nested-loading>div>.ant-spin) {
      max-height: 580px;
    }
  }
  
  .qrcode_wrap {
    background-color: #2F80ED;
    padding-top: 40px;
    padding-bottom: 55px;
    border-radius: 8px 8px 0 0;
  }
  
  
  .title {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
  }
  
  .desc {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-top: 25px;
  }
  
  .qrcode {
    width: 178px;
    height: 178px;
    padding: 8px;
    background-color: #fff;
    border-radius: 8px;
    margin: 40px auto 0;
  }
  
  .tk_desc {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
  }
  
  
  .brands {
    display: flex;
    justify-content: center;
    margin-top: -14px;
  }