@import '../layout.less';

.first {
    background-color: #f6f6f9;
    border-radius: 8px;
    padding: 60px 30px;
    font-size: 16px;
    .first_title {
        font-weight: 500;
        margin-bottom: 20px;
    }
}
