.container {
    background-color: #fff;
    width: 375px;
    height: 677px;
    min-height: 500px;
    border-radius: 8px;
    -webkit-box-shadow: 0 10px 25px rgba(213, 213, 223, 0.60);
    box-shadow: 0 10px 25px rgba(213, 213, 223, 0.60);
  }
  
  .head {
    height: 80px;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    font-size: 18px;
    font-weight: 700;
  }
  
  .done {
    cursor: pointer;
    color: #2F80ED;
    font-size: 16px;
    font-weight: 500;
  }
  
  
  .content {
    padding: 20px 20px 40px;
  }
  
  .hd {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      .reset {
          color: #2F80ED;
          cursor: pointer;
      }
  }

  .desc {
      margin-top: 15px;
      color: #686868;
        font-size: 14px;
        font-weight: 400;
    }

    .items {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .item,  .current_item{
        padding: 0 20px;
        border-radius: 100px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #e8e8e8;
        cursor: pointer;
    }
    .current_item {
        border-color: #2F80ED;
    }